root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.{js,jsx,mjs,ts,tsx}]
indent_size = 2
indent_style = space

[*.{html,css}]
indent_size = 2
indent_style = space

[*.{json,yaml,yml}]
indent_size = 2
indent_style = space

[*.md]
indent_size = 2
indent_style = space
