@import "tailwindcss";

@theme inline {
  --color-background: #101010;
  --color-foreground: #efefef;
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
